.fonts{
    font-family: 'Young Serif', serif;
    font-family: 'Prata', serif;
    font-family: 'Barlow', sans-serif;
    font-family: 'Mate', serif;
}

.color{
color: #0079ff;
color: #f52dde;
color: #ff5c81;
color: #ffaf5b;
color: #d8dd71;}